* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}


header {
    /* width: 1350px; */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
}

header>img {
    width: 200px;
    cursor: pointer;
}

.header-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
}

.btn {
    padding: 14px 18px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

.header-links .header-btn {

    background-color: red;
    border: none;
    margin: 0 10px;
    padding: 16px 25px;
}

.heroSection {
    width: 100%;
}

.heroSection img {
    width: 100%;
    height: 82vh;
    overflow: hidden;
}

.ourBandSection {
    /* width: 1350px; */
    height: 90vh;
    margin: 0 auto;
    display: flex;
    /* overflow: hidden; */
    flex-direction: column;
}

.ourBandSection .ourBand-Text {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ourBandSection .ourBand-Text h1 {
    line-height: 60px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
}

.ourBandSection-Cards {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ourBandSection-Cards .cards img {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.ourBandSection-Cards .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards button {
    margin: 20px 0;
}

.imgSection {
    width: 100%;
    /* height: 90vh; */
    background-color: #212529;
    /* flex-direction: column; */
}

.f-sec {
    display: flex;
    justify-content: center;
    /* background-color: white; */
}

.imgSec-txt {
    margin-top: 70px;
    text-align: center;

}

.imgSec-txt>h1 {
    margin-bottom: 10px;
    font-size: 42px;
}

.bold {
    font-size: 46px;
    font-weight: 900;
}

.imgSec-txt p {
    margin-top: 15px;
}

.s-sec {
    /* width: 85%; */
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    /* background-color: white; */
}

.s-div-left {
    padding-left: 20px;
    padding-bottom: 90px;
}

.s-div-left h4 {
    font-weight: 300;
    color: red;
}

.bolder {
    font-weight: 900;
}

.s-div-left h2 {
    margin: 10px 0;
}

.s-div-left p {
    margin: 15px 0;
}

.s-div-left button,
.img-ro1 button,
.Villag-Franchise-contant button {
    margin-top: 48px;
    background-color: #212529;
    color: white;
    padding: 17px 20px;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
}

.S-ExpressFranchises {
    background-color: black;
}

.M-ExpressFranchises {
    /* display: flex;   */
    margin-left: 40px;
    /* width: 100%; */
    padding-top: 40px;
    position: relative;
}

.M-Express-backgd-img>img {
    width: 100%;
    position: absolute;
}

.M-Express-backgd-img h1 {
    font-size: 49px;
    font-weight: 700;
    padding-top: 55px;
}

.ExpressFranchises-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0px;
    gap: 50px;
    width: 100%;
    /* background-color: blue; */
}

.img-ro1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    /* background-color: aqua; */
}

.img-ro1 img {
    width: 100%;
    height: 230px;
}

.img-ro1-contant {
    text-align: center;
    /* background-color: aqua; */
    width: 350px;
}

.img-ro1-contant h6 {
    margin: 15px;
    font-size: 13px;
    color: red;
}

.img-ro1-contant h4 {
    font-size: 22px;
}

.img-ro1-contant p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.S-Villag-Franchise {
    text-align: center;
    padding: 50px 0;
    font-size: 23px;
    background-color: #0F0F0F;
}

.M-Villag-Franchise {
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.Villag-Franchise-contant {
    text-align: left;
    padding-left: 20px;
}

.Villag-Franchise-contant h4 {
    color: red;
}

.Villag-Franchise-contant h3 {
    margin-top: 12px;
    margin-bottom: 22px;
}

.Villag-Franchise-contant p {
    margin-bottom: 10px;
    font-size: 18px;
    color: gray;
}

.Villag-Franchise-contant button {
    background-color: #28A745;
}

.OpeningSoon {
    background-color: black;
}

.OpeningSoonContant {
    padding: 50px 0;
    text-align: center;
}

.OpeningSoonContant h1 {
    font-size: 38px;
}

.OpeningSoonContant {
    width: 1100px;
    /* background-colo  r: aqua; */
    margin: 0 auto;
}

.OpeningSoonLocation {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
    /* background-color: #28A745; */
    /* margin-bottom: 40px; */
}

.OpeningSoonbox {
    flex-grow: 3;
    width: 350px;
    background-color: white;
    color: #0F0F0F;
    padding: 20px;
    border-radius: 5px;
}

.red {
    color: red;
    font-size: 11px;
    margin: 20px 0;

}

.OpeningSoonbox h4 {
    margin: 10px 0;
}

.footer {
    background-color:#212529;
    padding-top: 70px;
    padding-bottom: 50px;
}

.main-footer {
    margin: 0px auto;
    width: 1080px;
    display: grid;
    gap: 40px;
    grid-template-columns: auto auto auto auto;
}


.footer-text img {
    /* background-color: white; */
    width: 150px;
}

.footer-text p {
    margin: 20px 0;
    font-size: 15px;
    text-align: justify;
}

.footer-link {
    padding: 10px 20px;
    /* flex-grow: 1; */
    /* background-color: yellow; */
}

.footer-link p {
    /* font-size: px; */
    margin-bottom: 10px;
}

.footer-link li {
    font-size: 15px;
    padding-left: 3px;
    list-style: none;
    margin-bottom: 12px;
}

.footer-contact h5 {
    font-size: 15px;
    margin-bottom: 14px;
    /* background-color: turquoise; */
}

.footer-contact h4 {
    margin: 14px 0;
}

.footer-contact p {
    margin: 10px 0;
    font-size: 15px;
}

.follow-icons {
    margin: 40px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.follow-icons i {
    border-radius: 50%;
    font-size: 18px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 50px;

    /* flex-direction: row; */
}

.footer-follow p {
    margin-bottom: 12px;
}

.sub-footer{
    display: flex;
    /* margin: 0 auto; */
    padding: 10px 70px;
    justify-content:space-between;
    background-color: #0F0F0F;
}

.sub-footer p{
    font-weight: 700;
    font-size: 13px;
}